# In development mode Expo cant connect to localhost so you have to use the localtunnel.me service to expose your local server to the internet
# Check next/package.json->dev script for setup
GRIDLY_API_KEY=1234
GRIDLY_VIEW_ID=1234
OPENAI_API_KEY=1234
BACKEND_API_URL=http://ip:4000